* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex: wrap;
}
.head-title {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.div-head {
  box-sizing: border-box;
  background-color: #7f00b2;
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.barraNav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  height: 20px;
  background-color: #bc4ed8;
  display: flex;
  justify-content: flex-end;
  margin-top: -3.9px;
}

.itemsNav {
  margin-inline: 1%;
}

li {
  list-style-type: none;
}

.div-head > img:hover {
  transform: scale(1.1);
  filter: grayscale(30);
}

.div-titulo-redes {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-top-left-radius: 5%;
  background-color: #bc4ed8;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.div-redes-items {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #f988ff;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  display: list-item;
  list-style: none;
  list-style-position: inside;
  padding: 3px;
  width: 106px;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.div-integrantes {
  display: flex;
  justify-content: right;
  padding: 5%;
  margin-top: 150px;
}

.items-integrantes {
  padding-top: 50%;
}

.div-datos-personales {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  margin-left: -25%;
}

.lista-datos {
  margin-top: 5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  margin-left: -20%;
}

.division2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 10%;
  margin-left: -40%;
}

.division-items {
  margin-top: 5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  margin-left: -60%;
}

.division {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  margin-top: 5%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
}

.division > b {
  font-size: 20px;
}

.mainbody {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer {
  background-color: black;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: white;
  text-align: center;
}

.div-referencias-laborales {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 5%;
  margin-bottom: 5%;
}

#datosPersonales {
  margin-right: -70px;
}

.div-referencias-items {
  margin-top: 5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  margin-left: -50%;
}

.div-frameworks {
  margin-top: 200px;
  margin-bottom: 5%;
  margin-right: 5%;
}

.div-frameworks > li:hover {
  transform: scale(1.5);
}

.items-frameworks {
  padding-top: 50%;
}

@media screen and (max-width: 900px) {
  body {
    background-color: pink;
    flex: 100%;
  }
}

@media screen and (max-width: 750px) {
  body {
    background-color: #e61555;
  }
  .div-integrantes {
    margin-top: -30px;
  }
  .div-frameworks {
    margin-top: -2px;
  }
  .division2 {
    flex-direction: column;
  }
}

@media screen and (min-width: 900px) {
  body {
    background-color: plum;
  }
}
